<p id="notice"><%= notice %></p>

<h1>Finances</h1>
<table class="table">
  
 

  <thead>
    <tr>
      <th>Herd</th>
      <th>Item</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Pay type</th>
      <th>Tran type</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
    <% if finance.herd_id = 1 %> 
      <tr>
        <% if finance.herd_id %>
        <td><%= Herd.find(finance.herd_id).name %></td>
        <% else %>
        <td class="danger">No Herd</td>
        <% end %>
        <td><%= finance.item %></td>
        <td><%= finance.category %></td>
        <% if finance.tran_type == "Expense" %>
        <td class="color:red;"><%= -finance.amount %></td>
        <% else %>
        <td><%= finance.amount %></td>
        <% end %>
        
        <td><%= finance.pay_type %></td>
        <td><%= finance.tran_type %></td>
        
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
    <% @total = 0 %>
    <% @finances.each do |finance| %>
    <% if finance.tran_type == "Expense" %>
    <% @total = @total - finance.amount %>
    <% else %>
    <% @total = @total + finance.amount %>
    <% end %>
    <% end %>
    <tr>
      <th>Total</th>
      <td></td>
      <td><%= @total %></td>
    </tr>
   
  </tbody>
</table>

<br>


<%= link_to 'New Finance', new_finance_path %>
