<p id="notice"><%= notice %></p>

<p>
  <strong>Date last grazed:</strong>
  <%= @pasture.date_grazed %>
</p>

<p>
  <strong>Available forage:</strong>
  <%= @pasture.available_forage %> <strong> #'s per acre</strong>
</p>

<p>
  <strong>Size:
  <%= @pasture.size %> Acre</strong>
</p>

<% if @pasture.herd_id %>
  <p>
    <strong>Herd on Pasture:
    <%= @pasture.herd.name %></strong>
  </p>
<% end %>

<table>

<tbody>
   Animals on Pasture
   <th> Tag Number</th> 
   <th> Breed </th>
   <th> Date of Birth </th>
   <% @pasture.animals.each do |f| %>
    <tr>
      
      
      
        <td><%= f.tag_number %></td>
        <td><%= f.breed %></td>
        <td><%= f.dob %></td>
        
        <td><%= link_to 'Show', f %></td>
        <td><%= link_to 'Edit', edit_animal_path(f) %></td>
        <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   <% end %>
  </tbody>
</table>
  
  <%= link_to 'Edit', edit_pasture_path(@pasture) %> |
<%= link_to 'Back', pastures_path %>
