<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag_number %>
    <%= form.number_field :tag_number %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :dob %>
    <%= form.date_select :dob %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :date_exposed %>
    <%= form.date_select :date_exposed %>
  </div>

<div class="field">
    <%#= form.label :herd_id %>
    <%#= form.text_field :herd_id %>
  </div>

<%#  if animal.id %> 
<div class="field">
<%= form.collection_select(:herd_id, Herd.all, :id, :name, {prompt: "Enter a Herd"}, {class: "w3-select"}) %> 
</div>
<%# end %>
  
  
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
