<%= form_with(model: animal, local: true, html: {class: "container"}) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%#= @herd.herd_id %>

  <div class="form-group">
    <%= form.label "Tag Number:" %>
    <%= form.number_field :tag_number, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label "Breed:" %>
    <%#= form.text_field :breed, {class: "form-control"} %>
    <%= form.select(:breed, options_for_select([["Select One", ""], "Angus", "Hereford", "Beefmaster"]), {}, {:class => "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label "Date of Birth" %>
    <br>
    <%= form.date_select :dob %>
  </div>

  <div class="form-group">
    <%= form.label "Color" %>
   <%= form.select(:color, options_for_select([["Select One", ""], "Black", "Brown", "White", "Red", "Multi-color"]), {}, {:class => "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label "Date Exposed" %>
    <br>
    <%= form.date_select :date_exposed %>
  </div>


<%#  if animal.id %> 
<div class="form-group">
  <%= form.label "Select Animal Group:"%>
<%= form.collection_select(:herd_id, current_user.herds, :id, :name, {prompt: "Enter a Herd"}, {class: "w3-select form-control"}) %> 
</div>
<%# end %>
  
  
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
