<p id="notice"><%= notice %></p>

<h1>Animals</h1>


<table class="table">
  <thead>
    <tr>
      <th>Tag number </th>
      <th>Breed </th>
      <th>Dob </th>
      <th>Color </th>
      <th>Date Exposed </th>
      <th>Herd</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
     <tr>
        <td><%= animal.tag_number %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.dob %></td>
        <td><%= animal.color %></td>
        <td><%= animal.date_exposed %></td>
         <%# if animal.herd %>
        <td><%= Herd.find(animal.herd_id).name %></td>
         <%# end %>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
