<p id="notice"><%= notice %></p>

<%= @animal.id %>
<%= @animal.herd_id %>

<p>
  <strong>Tag number:</strong>
  <%= @animal.tag_number %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @animal.breed %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @animal.dob %>
</p>

<p>
  <strong>Color:</strong>
  <%= @animal.color %>
</p>

<p>
  <strong>Date Exposed:</strong>
  <%= @animal.date_exposed %>
</p>

<p>
  <strong>Herd:</strong>
  <% unless @animal.herd_id.nil? %>
  <%= Herd.find(@animal.herd_id).name %>
  <% end %>
</p>



<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
