<p id="notice"><%= notice %></p>



<h1 class="text-center">
  <strong>Animal Group:</strong>
  <%= @herd.name %>
</h1>

<h2>
  Current Pasture - (<%= @herd.pasture_id %>)
  <%= link_to 'Move Animal Group', edit_herd_path{@herd.pasture_id}, class: "btn btn-primary btn-rounded w-lg animated fadeInDown wow" %>
</h2>
<table class="table">
  
 <tbody>
   <h2>
     Animals in Herd
   </h2>
   <h3><%= link_to 'Add', new_animal_path, class: "btn btn-primary btn-rounded w-lg animated fadeInDown wow" %> </h3>
   <th> Tag Number</th> 
   <th> Breed </th>
   <th> Date of Birth </th>
   <% @herd.animals.each do |f| %>
    <tr>
      
      
      
        <td><%= f.tag_number %></td>
        <td><%= f.breed %></td>
        <td><%= f.dob %></td>
        <td><%= link_to 'Show', f %></td>
        <td><%= link_to 'Edit', edit_animal_path(f) %></td>
        <td><%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
   <% end %>
</tbody>
</table>

<h2>Finances<h2>
  
  <h3><%= link_to 'Add', new_finance_path, class: "btn btn-primary btn-rounded w-lg animated fadeInDown wow" %> </h3>
<table class="table">
  
 

  <thead>
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Pay type</th>
      <th>Tran type</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @herd.finances.each do |finance| %>
    <%# if finance.herd_id = 1 %> 
      <tr>
        <td><%= finance.item %></td>
        <td><%= finance.category %></td>
        <% if finance.tran_type == "Expense" %>
        <td class="color:red;"><%= -finance.amount %></td>
        <% else %>
        <td><%= finance.amount %></td>
        <% end %>
        
        <td><%= finance.pay_type %></td>
        <td><%= finance.tran_type %></td>
        
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
    <% end %>
    <% @total = 0 %>
    <% @herd.finances.each do |finance| %>
    <% if finance.tran_type == "Expense" %>
    <% @total = @total - finance.amount %>
    <% else %>
    <% @total = @total + finance.amount %>
    <% end %>
    <% end %>
    <tr>
      <th>Total</th>
      <td></td>
      <td></td>
      <td><%= @total %></td>
    </tr>
   </tbody>
</table>


<%= link_to 'Edit', edit_herd_path(@herd) %> |
<%= link_to 'Back', herds_path %>
  
  
