<html>
  
<head>
  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Coderthemes">
        
        <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>

        <title>Minton - Responsive Admin Dashboard & Frontend</title>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        
        <%= stylesheet_link_tag 'css/bootstrap.min.css', media: 'all' %>

        <!-- Animate -->
        
         <%= stylesheet_link_tag 'css/animate.css', media: 'all' %>

        <!-- Icon-font -->
       
        <%= stylesheet_link_tag 'css/themify-icons.css', media: 'all' %>

        <!-- Custom styles for this template -->
        
        <%= stylesheet_link_tag 'css/style.css', media: 'all' %>

    </head>



<body>
    <!-- Pre-loader -->
       
        <div class="tagline">
            <div class="container">
                <div class="float-left">
                    <div class="phone">
                        <i class=" ti-mobile"></i> +1 800 123 45 67
                    </div>
                    <div class="email">
                        <a href="mailto:#">
                            <i class=" ti-email"></i> support@mail.com
                        </a>
                    </div>
                </div>
                <div class="float-right">
                    <ul class="top_socials">
                        <li><a href="javascript:void(0);"><i class=" ti-facebook"></i></a></li>
                        <li><a href="javascript:void(0);"><i class=" ti-skype"></i></a></li>
                        <li><a href="javascript:void(0);"><i class=" ti-twitter-alt"></i></a></li>
                        <li><a href="javascript:void(0);"><i class=" ti-github"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand logo" href="#">Graaze</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#how-it-work">How it work</a>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Animals', animals_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                             <%= link_to 'Herds', herds_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to 'Pastures', pastures_path, class: "nav-link" %>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
   <%= yield %>
  
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="copyright">2016 - 2018 © Minton.</p>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </footer>
</body>
  
</html>
